*{
    border: 0;
    padding: 0;
}

body{
    color: black;
    background-size: 100%;
    background-image: url('../images/wall.png');
}

.container{
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 325px));
    gap: 10px;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    color: blue;
}
