
@inject BSModal modalRef;

<div class='vertical-container rounded-corners'>
    <img class='productImage' src='@produto.imagem' >
    <span> @produto.nome </span> <br/>
    <span> @produto.descricao </span> <br/>
    <span> Preço: R$ @produto.preco</span> <br/>
    <button class='roundIcon addToCart' @onclick="addToCart" />
    <BSModal @ref="modalRef">
        <InfoModal modalContent="" parent="modalRef"></InfoModal>
    </BSModal>
</div>


@code {
    [Parameter]
    public Produto? produto { get; set; }

    [Parameter]
    public ShoppingCart? shoppingCart { get; set; }

    private void addToCart()
    {
        if (produto is null) return;
        if (shoppingCart is null) return;

        List<Produto> match = shoppingCart.produtosAdicionados.FindAll(item => item.id == produto.id);
        if (match.Count > 0) {
            // "Este produto já se encontra no carrinho!";
            modalRef.ShowAsync();
            return;
        }

        shoppingCart.adicionar(produto);
        // "Produto adicionado ao carrinho.";
        modalRef.ShowAsync();
    }

}
